<%= render 'base' %>
<% content_for :sitemap do %>
  <% if params[:action] == "recent" %>
    <li class="active">最近活跃的50个主题</li>
  <% elsif params[:action] == "search" %>
    <li class="active">搜索<%= h params[:s] %></li>
  <% else %>
    <li class="active">活跃帖子</li>
  <% end %>
<% end %>

<%= render 'sidebar' %>

<div id="shouye_chang">
	<div class="box">
    <% if !@node.blank? %>
    <div id="node_info">
      <p>
        <h1><%= h @node.name %></h1>
        <span class="total">共有 <%= @node.topics_count %> 个讨论主题</span>
      </p>
    </div>
    <% else %>
    <% leftvalue = @is_ie6 ? 0 : 16 %>
      <%=image_tag 'bbsblackboard.png',style:"position:absolute;top:12px;left:#{leftvalue}px"%>
        <div id="sections" style="position:absolute;top:93px;line-height:29px;left:50px;width:545px;color:yellow">
≡互助区≡
<a title="【出国交流】" href="/bbs/n4edb0d079bd4bf14c1000013">【出国交流】</a>
<a title="【英语学习】" href="/bbs/n4edb0d3b9bd4bf14c1000015">【英语学习】</a>
<a title="【考研互助】" href="/bbs/n4edb0d529bd4bf14c1000017">【考研互助】</a>
<a title="【驾校攻略】" href="/bbs/n4edb0d9e9bd4bf14c1000019">【驾校攻略】</a>
<a title="【会计证区】" href="/bbs/n4edb0e619bd4bf14c100001c">【会计证区】</a>
<br>
≡事务区≡
<a title="【新手成长】" href="/bbs/n4edada929bd4bf129800000f">【新手成长】</a>
<a title="【活动公告】" href="/bbs/n4edb0c9e9bd4bf14c100000b">【活动公告】</a>
<a title="【广告专版】" href="/bbs/n4edb0cd19bd4bf14c100000f">【广告专版】</a>
<a title="【意见反馈】" href="/bbs/n4ee81b69e138233980000010">【意见反馈】</a>
<a title="【版主会议室】" href="/bbs/n4edb0e919bd4bf14c1000020">【版主会议室】</a>
<br>
≡娱乐区≡
<a title="【休闲灌水】" href="/bbs/n4edb0e759bd4bf14c100001e">【休闲灌水】</a>
<a title="【贴图区】" href="/bbs/n4edcd6abe1382304b7000003">【贴图区】</a>
        </div>

      <h1 style="margin-top:252px;font-size:20px">最新帖子</h1>
    <% end %>
    <% if params[:action] == "node" %> 
      <table class="node_topics">
        <tr class="head">
          <td class="replies">回复数</td>
          <td class="title">标题</td>
          <td class="author">作者</td>
          <td class="replied_at">最后回复时间</td>
        </tr>
        <% @topics.each do |topic| %>
        <tr class="topic">
          <td class="replies"><%= topic.replies_count %></td>
          <td class="title"><a href="<%= bbs_topic_path(topic) %>"><%= truncate(topic.title, :length => 25) %></a></td>
          <td class="author"><%= bbs_user_name_tag(topic.user) %></td>
          <td class="replied_at"><%= l (topic.replied_at || topic.created_at), :format => :short %></td>
        </tr>
        <% end %>
      </table>
    <% else %>
      <div class="topics">
        <% @topics.each do |topic| %>
          <div class="topic topic_line">
<%if @is_ie6 or @is_ie7%>
<table><tr><td>
                                        <%= user_avatar_tag(topic.user,:bbs_normal) %>
</td><td>
              <div class="pull-right replies">
                                        <% if topic.replies.count > 0 %>
                <% readed_state = topic.user_readed?(current_user.id) if current_user %>
                <a href="<%= bbs_topic_path(topic.id) %>" rel="twipsy" title="<%= topic_use_readed_text(readed_state) if current_user %>" class="count state<%= readed_state if current_user %>">
                <%= topic.replies_count %>
                </a>
                                        <% end %>
              </div>
              <div class="infos">
                <div class="title"><a href="<%= bbs_topic_path(topic) %>" title="<%= topic.title %>"><%= truncate(topic.title, :length => 100) %></a></div>
                <div class="info leader">
                  由 <%= bbs_user_name_tag(topic.user) %>
                  在 <a href="<%= bbs_node_topics_path(topic.node_id) %>"><%= topic.node.name %></a> 中发起
                </div>
                <div class="info time">
                  <% if topic.last_reply_user.blank? %>
                    发布于 <%= timeago(topic.created_at) %>
                  <% else %>
                    最后由 <%= bbs_user_name_tag(topic.last_reply_user) %> 回复于 <%= timeago(topic.replied_at) %>
                  <% end %>
                </div>
              </div>
</td></tr></table>
<%else%>
            <div class="pull-left avatar">
    					<%= user_avatar_tag(topic.user,:bbs_normal) %>
            </div>
            <div class="right_info">
              <div class="pull-right replies">
      					<% if topic.replies.count > 0 %>
                <% readed_state = topic.user_readed?(current_user.id) if current_user %>
                <a href="<%= bbs_topic_path(topic.id) %>" rel="twipsy" title="<%= topic_use_readed_text(readed_state) if current_user %>" class="count state<%= readed_state if current_user %>">
                <%= topic.replies_count %>
                </a>
      					<% end %>
              </div>
              <div class="infos">
                <div class="title"><a href="<%= bbs_topic_path(topic) %>" title="<%= topic.title %>"><%= truncate(topic.title, :length => 100) %></a></div>
                <div class="info leader">
                  由 <%= bbs_user_name_tag(topic.user) %>
                  在 <a href="<%= bbs_node_topics_path(topic.node_id) %>"><%= topic.node.name %></a> 中发起
                </div>
                <div class="info time">
                  <% if topic.last_reply_user.blank? %>
                    发布于 <%= timeago(topic.created_at) %>
                  <% else %>
                    最后由 <%= bbs_user_name_tag(topic.last_reply_user) %> 回复于 <%= timeago(topic.replied_at) %>
                  <% end %>
                </div>
              </div>
            </div>
<%end%>
          </div>
        <% end %>
      </div>
    <% end %>
      
    <% if params[:action] == "index" %>
      <div class="more">
        <a href="<%= bbs_recent_topics_path %>">查看更多最近发布的帖子...</a>
      </div>
    <% elsif params[:action] == "node" or params[:action] == "search" %>
      <%= will_paginate1 @topics %>
    <% end %>
	</div>
	<% if params[:action] == "index" %>
	<% end %>
<% if @is_ie %><div id="ie_every_foot" style="<%='left:0px' if @is_ie7 or @is_ie8%>">&nbsp;</div><div id="ie_every_footer"></div><%end%></div>

