<%= render 'base' %>
<%= content_for :sitemap do %>
  <li class="active">查看贴子</li>
<% end %>
<%= render 'sidebar' %>
<style>
.content p{
max-width:605px;
  word-wrap: break-word;
}
</style>
<div class="content">
	<div class="topics box">
		<div class="topic">  
		  <div class="pull-right avatar_large">
				<%= user_avatar_tag(@topic.user, :bbs_large, :link => false) %>
			</div>  
	    <div class="infos">
				<h1 style="font-size:20px"><%= truncate(@topic.title, :length => 100) %></h1>
				<div class="info leader">
					由 <%= bbs_user_name_tag(@topic.user,:location => true) %>
					在 <a href="<%= bbs_node_topics_path(@topic.node_id) %>"><%= @topic.node.name %></a> 板块中发起
				</div>
				<div class="info time">
					<% if @topic.last_reply_user.blank? %>
						发布于 <%= timeago(@topic.created_at) %>
					<% else %>
						最后由 <a href="/users/<%= @topic.last_reply_user.slug %>"><%= @topic.last_reply_user.name %></a> 回复于 <%= timeago(@topic.replied_at) %>
					<% end %>
					, <%= @topic.hits %>次阅读
				</div>
<div class="bshare-custom icon-medium"><a title="分享到人人网" class="bshare-renren" href="javascript:void(0);"></a><a title="分享到新浪微博" class="bshare-sinaminiblog" href="javascript:void(0);"></a><a title="分享到QQ空间" class="bshare-qzone" href="javascript:void(0);"></a><a title="分享到腾讯微博" class="bshare-qqmb" href="javascript:void(0);"></a><a title="分享到豆瓣" class="bshare-douban" href="javascript:void(0);"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span class="BSHARE_COUNT bshare-share-count">1.29K</span></div><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=3&amp;lang=zh"></script><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
			</div>			
		</div>
		<div class="body">
			<%= format_topic_body(@topic.body) %>
		</div>
		<div class="tools">
		  <% if owner?(@topic) %>
  			<a href="<%= edit_bbs_topic_path(@topic.id) %>">修改</a>
  			<%= link_to "删除", bbs_topic_path(@topic.id), :method => :delete, :confirm => "确定要删除么？" %>
			<% end %>
		</div>
	</div>
  <% if @replies.blank? %>
    <div class="no_result" style="color:#7C95AC">
      暂无回复。
    </div>
  <% else %>
  <div id="replies" class="box">
    <div class="total">
      截止 <%= l @topic.replied_at, :format => :long %>, 共收到 <%= @topic.replies_count %> 条回复
    </div>
    <% @replies.each_with_index do |reply,i| %>
      <div class="reply" id="reply<%= i + 1 %>">
        <div class="pull-left face"><%= user_avatar_tag(reply.user, :bbs_normal) %></div>
        <div class="infos">
          <div class="info clearfix" style="background:none;filter:none">
            <span class="name"><%= bbs_user_name_tag(reply.user,:location => true) %></span>
            <span class="time"><%= i + 1 %>楼, 回复于 <%= timeago(reply.created_at) %>
              <% if owner?(reply) %>
          			<a href="<%= edit_bbs_reply_path(reply.id) %>">修改</a>
        			<% end %>
              <a href="#" onclick="return Topics.reply(<%= i + 1 %>,'<%= reply.user.login %>');" title="回复此楼" class="reply_link"><%= image_tag("reply.png") %></a></span>
          </div>
          <div class="body">
            <%= format_topic_body(reply.body) %>
          </div>
          <div class="tools">
      		  
      		</div>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
	<% if current_user %>
  <div id="reply" class="form box">
    <h4>回复</h4>
    <%= form_for(LandReply.new,:url => reply_bbs_topic_path(params[:id])) do |f| %>
      <div class="clearfix">
        <%= f.text_area :body,:class => "span10", :rows => "4" %>
      </div>
      <div class="pull-right">
        <button type="submit" class="btn primary">提交回复</button><br />
      </div>
      <br style="clear:both">
    <% end %>
  </div>
	<% else %>
	<div id="reply" class="form box">
		<div style="padding:20px;">
		需要 <a href='/login' class="btn primary psvr_login_links">登录</a> 后回复方可回复, 如果你还没有账号 <a href="/register" class="btn danger psvr_reg_links"> 点击这里注册</a>。
		</div>
	</div>
	<% end %>
</div>
