<p>你已经成功地注册成为了<%= Setting.app_name %>的成员.</p>
<ul>
<li>姓名: <%= @user.name %></li>
<li>帐号: <%= @user.email %></li>
</ul>
<br />
<p>
考考点评目前还处于Alpha阶段，我们正在努力完善它，如果有问题还请多多谅解。<br /><br />
反馈与建议可以发往:<br />
<%= image_tag 'email.gif' %> 或 <a href="<%= bugtrace_url %>">意见反馈区</a> <br /><br />
</p>
<p>谢谢！</p>

