<div class="ask" ask-id="<%= item.id %>">
  <div class="title"><%= ask_title_tag(item) %></div>
    <div class="info">
      <%= item.answers_count %> 条点评
      • <a href="<%= ask_path(item) %>#woyaodianping"><span style="color:red">我</span><span style="color:green">要</span><span style="color:orange">点</span><span style="color:blue">评</span></a> 
			<% if current_user and current_user.ask_followed?(item) %>
    	• <a class="login_required" href="#" onclick="return Asks.simple_unfollow(this,'<%= item.id %>')">取消关注</a> 
			<% else %>
			• <a class="login_required" href="#" onclick="return Asks.simple_follow(this,'<%= item.id %>')">关注</a> 
			<% end %>
			<% if current_user and current_user.ask_muted?(item.id) %>
			• <a class="login_required" href="#" onclick="return Asks.unmute(this,'<%= item.id %>')">取消屏蔽</a> 
			<% else %>
    	• <a class="login_required" href="#" onclick="return Asks.mute(this,'<%= item.id %>')">不感兴趣</a> 
			<% end %>
    </div> 
    <% if item.last_answer and (not(params[:controller] == "asks" and params[:action] == "index")) %>
      <div class="last_answer answer">
        <div class="avatar_border_small<%=2 if @is_ie6%>">
          <%= user_avatar_tag(item.last_answer.user, :small) %>
        </div>
        <div class="attr">
          <span class="votes" rel="tipsyt" title="参与投票人数"><%= item.last_answer.votes_count %></span>
        </div>
        <div class="data">
          <div class="author">
            <% if item.last_answer_user %><%= user_name_tag(item.last_answer_user) %><%= user_tagline_tag(item.last_answer_user,:prefix => ",") %> <% else %>匿名用户<% end %>
          </div>
          <div class="md_body"><%= md_body(item.last_answer.chomp_body) %></div>
        </div>
      </div>
    <% else %>
      <div class="md_body" style="display:none" id="more_to_come">
        <%= md_body(item.chomp_body) %>
      </div>
    <% end %>
</div>
