<% content_for :sidebarstyle do %> background-color:#2C4762; <% end %>
<% content_for :sidebar do %>

<!-- Subnav -->
<ul class="controls_section">
<!-- Posts -->
<li class="<%= 'selected' if '/'==request.path %>">
<a href="/" class="posts">
<div class="hide_overflow">考考首页</div>
</a>
    </li>

        <!-- Queue -->
    <li class="<%= 'selected' if doing_path==request.path %>">
    <a href="<%= doing_path %>" class="followers">
        <div class="hide_overflow">考考正在发生</div>
    </a>
    </li>


    <!-- Queue -->
<li class="<%= 'selected' if tags_path==request.path %>">
<a href="<%= tags_path %>" class="members">
    <div class="hide_overflow">机构分类</div>
                    </a>
            </li>
    <!-- Queue -->
<li class="<%= 'selected' if topics_path==request.path %>">
<a href="<%= topics_path %>" class="queue">
    <div class="hide_overflow">所有机构</div>

                    </a>
            </li>


    <!-- Queue -->
<li class="<%= 'selected' if asks_path==request.path %>">
<a href="<%= asks_path %>" class="messages">
    <div class="hide_overflow">针对机构的提问</div>
                    </a>
</li>


<!-- Members -->
<li class="<%= 'selected' if followed_path==request.path %>">
<a href="<%= followed_path %>" class="likes">
<div class="hide_overflow">我关注的机构</div>
</a>
    </li>


<!-- Drafts -->
<li class="<%= 'selected' if recommended_path==request.path %>">
<a href="<%= recommended_path %>" class="drafts">
<div class="hide_overflow">我或许感兴趣</div>

            </a>    
    </li>


    <!-- Queue -->
<li class="<%= 'selected' if muted_path==request.path %>">
<a href="<%= muted_path %>" class="processing">
    <div class="hide_overflow">我屏蔽的机构</div>
                    </a>
</li>


</ul>







    <!-- Settings -->
<ul class="controls_section" id="dashboard_controls_tumblelog_settings">
<li class="forever_alone" onclick="window.location.href='<%=under_construction_path %>'">
    <a href="/tuan" class="settings">
        <div class="hide_overflow">团购课程</div>
    </a>
</li>
<li class="forever_alone" onclick="window.location.href='<%=under_construction_path %>'">
    <a href="/exp" class="settings">
        <div class="hide_overflow">试听信息</div>
    </a>
</li>
<li class="forever_alone" onclick="window.location.href='<%=under_construction_path %>'">
    <a href="/cards" class="settings">
        <div class="hide_overflow">会员卡</div>
    </a>
</li>
</ul>


 <script type="text/javascript">
  function sendFeed() {
          var uiOpts = {
                  url : "feed",
                  display : "popup",
                  params : {
                    "url":"http://www.yourdomain.com/feed.html",
                    "name":"<%= raw @page_title %><%= Setting.app_name %>",
                    "description":'去考考点评看看吧\nhttp://www.kaokaodianping.com<%=request.path%>',
                    "image":'<%=(@topic.blank? or @topic.cover.blank?) ? "http://www.kaokaodianping.com/images/logo.png" : "http://kkdp.net/"+@topic.cover.normal.url%>',
                    "action_name": "考考点评",
                    "action_link": 'http://www.kaokaodianping.com<%=request.path%>'
                  },onSuccess : function(response){
                          if(window.console) 
                                  console.log("success: "+JSON.encode(response));
                          if(response.access_token){
                                  accessToken = response.access_token;
                                  alert("access token: " + accessToken);
                          }
                  },
                  onFailure : function(response){
                          if(window.console) 
                                  console.log("failure: " + response.error + ',' + response.error_description);
                  } 
          };
          Renren.ui(uiOpts);
        }
  </script>
<% content_for :butt2 do%>
Renren.init({appId:172741});
<% end %>




<ul class="controls_section" id="dashboard_controls_open_blog">
<!-- Open blog -->
<li class="<%= 'selected' if new_user_invitation_path==request.path %>">
<a href="<%= new_user_invitation_path %>" class="open_blog with_subtitle">
    <div class="hide_overflow">
        邀请好友注册<br/>
    </div>
    <small>
        <div class="hide_overflow">
            www.kaokaodianping.com                        </div>
    </small>
</a>
</li>

            <!-- Customize appearance -->
<li class="recessed">
    <a href="javascript:sendFeed();" class="customize">
        <div class="hide_overflow">分享本页到人人网</div>
        <div class="gradient"></div>
    </a>
</li>
    </ul>

<% end %>

<%if @is_ie6 or @is_ie7%>
<% content_for :butt2 do %>

$('#right_column .controls_section li').not('.selected').hover(function(){
  $(this.children[0]).css('background-image',"url('/images/icons_sprite_ie_hover.png')");
},function(){
  $(this.children[0]).css('background-image',"url('/images/icons_sprite_ie.png')");
});

<%end%>
<%end%>
