<div id="cpanel_ask" class="form">
<%= simple_form_for(@ask, 
  :url => (@ask.new_record? ? cpanel_asks_path : cpanel_ask_path(@ask.id)) ) do |f| %>
  <%= render "/shared/error_messages", :target => @ask %>

  <div class="inputs">
<%=f.input :type,:as=>:select,:collection=>%w(课程 学校),:label=>'类型' %>
  <%= f.input :title %>
  <%= f.input :body, :as => :text %>
  <%= f.input :user_id %>
  <%= f.input :spams_count %>
<%=f.input :will_autofollow,:as=>:boolean,:label=>'将被自动关注'%>
  </div>
  <div class="actions">
    <button type="submit">提交</button>
     或者 <%= link_to '返回', cpanel_asks_path %>
  </div>
<% end %>
</div>
