<% if !@ask.blank? %>
  <div id="share_ask_box" class="box standard">
    <h2>
      <span style="color:#333;">分享</span>
        <a rel="nofollow" href="<%= share_ask_path(@ask.id) %>?type=email"><span class="has_icon email">Email</span></a>
        <a rel="nofollow" href="<%= share_ask_path(@ask.id) %>?type=url"><span class="has_icon url">转发地址</span></a>

    </h2>
    <div class="inner">
      <div class="share"><%unless @ask.to_user_id %>
      <a href="#" onclick="return Asks.toggleShareAsk(this,'invite');">邀请他人<%= @ask.tianjia_what %><% if @invites.count > 0 %><% end %><span id="shared_span_count"> (<%= @invites.count %>)</span></a>
<%end %>
      </div>
      <div class="invite" style="display:none;margin-top:10px;">
        <input type="text" id="ask_to_answer" style="width:180px;" placeholder="搜索人" />
        <div id="ask_invited_users" class="clearfix">

			<%if @invites.count>0%>	已邀请:<br/><%end%>
          <% for item in @invites %>
            <% if item.count > 0 %>
              <div class="invite" title="<%= item.user.name %>" id="ask_invite_<%= item.id %>">
                <%= user_avatar_tag(item.user,:small) %>
                <p>
                <% if @current_user and item.invitor_ids.include?(@current_user.id) %>
                  <a href="#" onclick="return Asks.cancelInviteToAnswer(this,'<%= item.id %>')" class="remove"></a>
                <% else %>
                  <span class="n"></span>
                <% end %>
                <span class="count"><%= item.count %></span>
                </p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
