

<!-- Top pagination -->


    
  <% if @is_ie6 or @is_ie7 %>
  
<!-- Posts -->
<ol id="posts" class=" no_css3    " style="margin-left:0">
<table>
<tr>
<td class="avatar_and_i2" id="wozhengyaobao" style="width:150px">
我正要报
</td>
<td class="arrow">
<img src="/images/dashboard_master_sprite_ie_nipple.png" style="margin-bottom:40px"/>
</td>
<td style="background-color:white;padding-top:10px;padding-bottom:5px;">

  <%= form_tag traverse_path,method:'get',:id=>"help_search" do %>
    <input style="margin:3px 0 0 0;width:382px;padding-top:13px;color:#CCC" type="text"
    value="培训项目或机构名"
    onclick="if(!this.alreadygot){this.style.color='#000';this.value='';this.alreadygot=true}"
    title="培训项目或机构名" 
    id="help_query" class="" name="q">
    <button id="help_query_btn" onclick="if($('#help_query').val()!=''){$('#help_search').submit();}else{$('#help_query').focus()}return false;"></button>
  <% end %>
    <br style="clear:both"/>
    <div class="hot_seaches" style="text-align:left;margin-left:26px;margin-top: -6px;margin-bottom: 1px;padding-right:24px;font-size:13px">
    热门搜索: 
    <% @hot_searches.each do |search|%>
      <%= link_to search,'#',onclick:"$('#help_query').val('#{search}');$('#help_query').focus()" %>, 
    <% end %>
    <%= link_to '[更多]','#',style:'margin-right:5px;color:#2C81D3',onclick:'$(this).hide();$("#more_topics").show()' %>

    <span id="more_topics" style="display:none">
      <% @more_tags.each_with_index do |search,index| %>
        <%= link_to search,'#',onclick:"$('#help_query').val('#{search}');$('#help_query').focus()" %>,
      <% end %>
      <%= link_to '[更更多]','#',style:'margin-right:5px;color:#2C81D3',onclick:'$(this).hide();$("#more_topics2").show()' %>
      <span id="more_topics2" style="display:none">
        <% @more_topics.each_with_index do |search,index| %>
          <%= link_to search,'#',onclick:"$('#help_query').val('#{search}');$('#help_query').focus()" %><%= ',' unless index == @more_topics.length-1 %>
        <% end %>
      </span>
    </span>
    <br style="clear:both"/>
    </div>
</td>
</tr>
</table>


<!-- START POSTS -->

<!-- END POSTS -->
</ol>

  <% else %>

<!-- Posts -->
<ol id="posts" class=" no_css3    ">

<li class="post is_mine with_avatar new_post" id="new_post" style="background:none repeat scroll 0 0 #F9F9F9">



  <span class="arrow"></span>

  <div class="avatar_and_i" id="wozhengyaobao">
  我正要报
  </div>

  <div class="hot_seaches" style="text-align:left;margin-left:26px;margin-top: -6px;margin-bottom: 1px;padding-right:24px;font-size:13px">
  热门搜索: 
  <% @hot_searches.each do |search|%>
    <%= link_to search,'#',onclick:"$('#help_query').val('#{search}');$('#help_query').focus()" %>, 
  <% end %>
  <%= link_to '[更多]','#',style:'float:right;margin-right:5px;color:#2C81D3',onclick:'$(this).hide();$("#more_topics").show()' %>
  <span id="more_topics" style="display:none">
    <% @more_tags.each_with_index do |search,index| %>
      <%= link_to search,'#',onclick:"$('#help_query').val('#{search}');$('#help_query').focus()" %>,
    <% end %>
    <%= link_to '[更更多]','#',style:'margin-right:5px;color:#2C81D3',onclick:'$(this).hide();$("#more_topics2").show()' %>
    <span id="more_topics2" style="display:none">
      <% @more_topics.each_with_index do |search,index| %>
        <%= link_to search,'#',onclick:"$('#help_query').val('#{search}');$('#help_query').focus()" %><%= ',' unless index == @more_topics.length-1 %>
      <% end %>
    </span>
  </span>
  <br style="clear:both"/>
  </div>
</li>

<!-- START POSTS -->

<!-- END POSTS -->
</ol>

  <% end %>


<%= render :partial => 'logs/notifies' %>
            
<% content_for :butt2 do %>
  Asks.completeAll($("#help_query"));
  $("#help_query").bind( "input.autocomplete", function(){
    $(this).trigger('keydown.autocomplete');
  });
<%end %>



<!-- No posts found -->
<div id="shouye_chang" style="margin: 35px 0 0;height:438px;overflow:hidden;">
  <%= render 'asks/base' %>
  <%= content_for :scripts do %>
    <script type="text/javascript">
      var current_page = 2;
      function loadAsks(){
        App.loading();
        $.get("<%= request.path %>.js?page="+current_page,function(){
            App.loading(false);
        });
        return false;
      }
    </script>
  <% end %>
  <div id="yishoulu">已收录<%= link_to Topic.count,topics_path %>家机构的<%= link_to Answer.count,doing_path %>条精彩点评</div>
  <div id="asks">
    <% @answers.each do |ans| %>
      <%item=ans.ask %>
      <div class="ask_item">
        <table border="0" cellspacing="0" cellpadding="0" style="width:100%">
          <tr>
            <td class="avatar_td" valign="center"><div><%# user_avatar_tag(ans.user,:normal) %></div></td>
            <td>
              <div style="float:right;color:#999999"><%= gap(ans.created_at) %>前</div>
              <div style="margin-bottom:8px;"><%= user_name_tag(ans.user) %><strong>点评了</strong><%= link_to item.title,item %></div>
              <%= md_body(ans.chomp_body(65,nobr:true)) %>
              <div style="float:right"><%= link_to '详细...',ask_path(item)+"##{ans.id}" %></div>
            </td>
          </tr>
        </table>
      </div>
    <% end %>
    <div class="doListcover"></div>
  </div>
  <%= render "asks/sidebar" %>

</div>

<% content_for :butt2 do %>
$(document).ready(function () {
  window.will_reset_newsroll=false;
  newsroll();
});
function newsroll() {
    $('#asks div.ask_item').hide();
    $('#asks div.ask_item:gt(' + ($('#asks div.ask_item').length - 6) + ')').show();
    window.setInterval(function() {
      if(window.will_reset_newsroll){
        $('#asks div.ask_item').hide();
        $('#asks div.ask_item:gt(' + ($('#asks div.ask_item').length - 6) + ')').show();
        window.will_reset_newsroll = false;
      }else{
        $('#asks div.ask_item:visible:first').prev().css('opacity', 0).slideDown("fast", function() {
            $(this).animate({opacity:1}, 1000, function() {
                $(this).css({'opacity':1,'background':'#fff'});
                if ($('#asks div.ask_item:hidden').length == 0) {
                  window.will_reset_newsroll=true;
                }
            });
        });
      }
    }, 4000);
}
<%end %>
