

<!-- Top pagination -->


    
  <% if @is_ie6 or @is_ie7 %>
  
<!-- Posts -->
<ol id="posts" class=" no_css3    " style="margin-left:0">
<table>
<tr>
<td class="avatar_and_i2" id="wozhengyaobao" style="width:150px">
我正要报
</td>
<td class="arrow">
<img src="/images/dashboard_master_sprite_ie_nipple.png" style="margin-bottom:40px"/>
</td>
<td style="background:white url(/images/searchbox_yuanjiao.png) no-repeat;padding-top:10px;padding-bottom:5px;" id="td_yuanjiao">

  <%= form_tag traverse_path,method:'get',:id=>"help_search" do %>
    <input style="margin:3px 0 0 0;width:382px;padding-top:13px;color:#CCC" type="text"
    value="培训项目、机构、用户"
    onclick="if(!this.alreadygot){this.style.color='#000';this.value='';this.alreadygot=true}"
    title="培训项目、机构、用户" 
    id="help_query" class="" name="q">
    <button id="help_query_btn" onclick="if($('#help_query').val()!=''){$('#help_search').submit();}else{$('#help_query').focus()}return false;"></button>
  <% end %>
    <br style="clear:both"/>


  <div class="hot_seaches" style="text-align:left;margin-left:26px;margin-top: -6px;margin-bottom: 1px;padding-right:24px;font-size:13px">
    热门搜索: 
    <% @hot_searches.each do |search|%>
      <%= link_to search,"/tags/#{search}",onclick:"dhelp('#{search}')" %>,
    <% end %>
    <%= link_to '[更多]','#',style:'margin-right:5px;color:#2C81D3',onclick:'$(this).hide();$("#more_topics").show();$("#td_yuanjiao").css("background-image","none")' %>
    <span id="more_topics" style="display:none">
      <% @more_tags.each_with_index do |search,index| %>
        <%= link_to search,"/tags/#{search}",onclick:"dhelp('#{search}')" %>,
      <% end %>
      <%= link_to '[更更多]','#',style:'margin-right:5px;color:#2C81D3',onclick:'$(this).hide();$("#more_topics2").show()' %>
      <span id="more_topics2" style="display:none">
        <% @more_topics.each_with_index do |search,index| %>
          <%= link_to search,"/tags/#{search}",onclick:"dhelp('#{search}')" %><%= ',' unless index == @more_topics.length-1 %>
        <% end %>
      </span>
    </span>
    <br style="clear:both"/>
  </div>
  
</td>
</tr>
</table>


<!-- START POSTS -->

<!-- END POSTS -->
</ol>

  <% else %>

<!-- Posts -->
<ol id="posts" class=" no_css3    ">

<li class="post is_mine with_avatar new_post" id="new_post" style="background:none repeat scroll 0 0 #F9F9F9">

  <%= form_tag traverse_path,method:'get',:id=>"help_search" do %>
    <input style="margin:3px 0 0 0;width:382px;padding-top:13px;color:#CCC" type="text"
    value="培训项目、机构、用户"
    onclick="if(!this.alreadygot){this.style.color='#000';this.value='';this.alreadygot=true}"
    title="培训项目、机构、用户" 
    id="help_query" class="" name="q">
    <button id="help_query_btn" onclick="if($('#help_query').val()!=''){$('#help_search').submit();}else{$('#help_query').focus()}return false;"></button>
  <% end %>


  <span class="arrow"></span>

  <div class="avatar_and_i" id="wozhengyaobao">
  我正要报
  </div>

  <div class="hot_seaches" style="text-align:left;margin-left:26px;margin-top: -6px;margin-bottom: 1px;padding-right:24px;font-size:13px">
    热门搜索: 
    <% @hot_searches.each do |search|%>
      <%= link_to search,"/tags/#{search}",onclick:"dhelp('#{search}')" %>,
    <% end %>
    <%= link_to '[更多]','#',style:'float:right;margin-right:5px;color:#2C81D3',onclick:'$(this).hide();$("#more_topics").show()' %>
    <span id="more_topics" style="display:none">
      <% @more_tags.each_with_index do |search,index| %>
        <%= link_to search,"/tags/#{search}",onclick:"dhelp('#{search}')" %>,
      <% end %>
      <%= link_to '[更更多]','#',style:'margin-right:5px;color:#2C81D3',onclick:'$(this).hide();$("#more_topics2").show()' %>
      <span id="more_topics2" style="display:none">
        <% @more_topics.each_with_index do |search,index| %>
          <%= link_to search,"/tags/#{search}",onclick:"dhelp('#{search}')" %><%= ',' unless index == @more_topics.length-1 %>
        <% end %>
      </span>
    </span>
    <br style="clear:both"/>
  </div>
</li>

<!-- START POSTS -->

<!-- END POSTS -->
</ol>

  <% end %>


<%= render :partial => 'logs/notifies' %>
            
<% content_for :butt2 do %>

window.dhelp = function(val){
  var tt=$('#help_query');
  var t=tt[0];
  if(!t.alreadygot){
    t.style.color='#000';
    t.alreadygot=true;
  }
  tt.val(val);
  tt.focus();
  $('#help_query_btn').trigger('click');
}
  Asks.completeAll($("#help_query"));
  $("#help_query").bind( "input.autocomplete", function(){
    $(this).trigger('keydown.autocomplete');
  });
<%end %>



<!-- No posts found -->
<div id="shouye_chang" style="margin: 35px 0 0;height:<%= @is_ie ? 381 : 350 %>px;overflow:hidden;font-size:15px;">
  <%= content_for :scripts do %>
    <script type="text/javascript">
      var current_page = 2;
      function loadAsks(){
        App.loading();
        $.get("<%= request.path %>.js?page="+current_page,function(){
            App.loading(false);
        });
        return false;
      }
    </script>
  <% end %>
  <%= image_tag 'zuixindianping.png',style:'margin-left:-6px;margin-top:-9px' %>
  <div id="yishoulu" style="display:none">已收录<%= link_to Topic.count,topics_path %>家机构的<%= link_to Answer.count,doing_path %>条精彩点评</div>
  <div id="asks_0">
    <% @answers.each do |ans| %>
      <%item=ans.ask %>
      <div class="ask_item">
        <table border="0" cellspacing="0" cellpadding="0" style="width:100%">
          <tr>
            <td class="avatar_td" valign="center"><div><%= user_avatar_tag(ans.user,:normal) %></div></td>
            <td>
              <div style="float:right;color:#999999"><%= gap(ans.created_at) %>前</div>
              <div style="margin-bottom:8px;"><%= user_name_tag(ans.user) %><strong>点评了</strong><%= link_to item.title,item %></div>
              <%= md_body(ans.chomp_body(65,nobr:true)) %>
              <div style="float:right"><%= link_to '详细...',ask_path(item)+"##{ans.id}" %></div>
            </td>
          </tr>
        </table>
      </div>
    <% end %>
  </div>
  <%= render "asks/sidebar" %>
  
<% if @is_ie %><div id="ie_every_foot" style="left:0px">&nbsp;</div><div id="ie_every_footer"></div><%end%></div>

<% content_for :clear_clear do %>


<div class="yuan423" id="yuan423_1" style="margin-top:12px;margin-right:11px;float:left">
  <%= image_tag 'zuixintiwen.png',style:'margin-left:10px;margin-top:9px' %>
<div id="asks_1" class="index_topics"<%if @is_ie6 %> style="padding-bottom:0"<%end %>>
<% @newasks.each do |ask| %>
  <div class="ask_item">
    <table border="0" cellspacing="0" cellpadding="0" style="width:100%">
      <tr>
        <td class="avatar_td" valign="center"><div><%= user_avatar_tag(ask.user,:normal) %></div></td>
        <td>
                    <div style="float:right;color:#999999"><%= gap(ask.created_at) %>前</div>
          <div style="margin-bottom:8px;"><%= link_to ask.title,ask %></div>
          <span style="color:#999999">由<%= user_name_tag(ask.user) %>提出，<%= link_to ask.answers_count,ask_path(ask)+'#woyaodianping' %>个回答</span>

        </td>
      </tr>
    </table>
  </div>
<% end %>
</div>
  <% if @is_ie %><%=image_tag 'ie_bottom423.png',style:'margin-bottom:-4px'%><%end%>
</div>

<div class="yuan423" id="yuan423_2" style="margin-top:12px;float:left">
  <%= image_tag 'luntanxintie.png',style:'margin-left:10px;margin-top:9px' %>
<div id="asks_2" class="index_topics"<%if @is_ie6 %> style="padding-bottom:0"<%end %>>
  <% @bbs_topics.each do |item| %>
    <div class="ask_item">
      <table border="0" cellspacing="0" cellpadding="0" style="width:100%">
        <tr>
          <td class="avatar_td" valign="center"><div><%= user_avatar_tag(item.user,:normal) %></div></td>
          <td>
<div style="margin-bottom:8px;"><%= link_to item.title, bbs_topic_path(item) %></div>
            <div style="float:right;color:#999999"><%= gap(item.created_at) %>前</div>
            <span style="color:#999999">由<%= user_name_tag(item.user) %>发表于<%= link_to item.node.name,bbs_node_path(item.node) %></span>

          </td>
        </tr>
      </table>
    </div>
  <% end %>

</div>

  <% if @is_ie %><%=image_tag 'ie_bottom423.png',style:'margin-bottom:-4px'%><%end%>
</div>

<div class="clear"></div>          



<div class="yuan423" id="yuan423_3" style="margin-top:12px;margin-right:11px;float:left;">
  <%= image_tag 'remenjigou.png',style:'margin-left:10px;margin-top:9px' %>

  <div class="index_topics"<%if @is_ie6 %> style="padding-bottom:0"<%end %>>
    <% @topics.each do |tc|  %>
    <% topic = Topic.where(name:tc.name).first %>
      <a href="<%= "/topics/#{topic.name}" %>" class="topic_cache">
        <%= image_tag(topic.cover.small.url,class:'index_topic_pic') %>
        <%= topic.name %>
      </a>
    <% end %>
  </div>
  
  <% if @is_ie %><%=image_tag 'ie_bottom423.png',style:'margin-bottom:-4px'%><%end%>
</div>

<div class="yuan423" id="yuan423_4" style="margin-top:12px;float:left">
  <%= image_tag 'huanyingxinyonghu.png',style:'margin-left:10px;margin-top:9px' %>
  <div class="index_topics"<%if @is_ie6 %> style="padding-bottom:0"<%end %>>
    <% @users.each do |user|  %>
      <a href="<%= "/users/#{user.slug}" %>" class="topic_cache">
        <%= image_tag(user.avatar.small.url,class:'index_avatar') %>
        <%= user.name %>
      </a>
    <% end %>
  </div>
  <% if @is_ie %><%=image_tag 'ie_bottom423.png',style:'margin-bottom:-4px'%><%end%>
</div>

<div class="clear" style="margin-bottom:10px"></div>          

<div id="shouye_chang" style="width:827px;background-color:white">

  <div id="asks">
    <% @asks.each do |item| %>
      <%= render "asks/ask", :item => item %>
    <% end %>
    <% if @asks.length == @per_page %>
      <div class="pagination"><a class="page_more" href="#" onclick="return loadAsks();">查看更多...</a></div>
    <% end %>
  </div>
  <% if @is_ie %><div id="ie_every_foot">&nbsp;</div><div id="ie_every_footer"></div><%end%>
</div>




<% end %>


<% content_for :butt2 do %>
$(document).ready(function () {
  window.will_reset_newsroll=new Array(3);
  window.will_reset_newsroll[0]=window.will_reset_newsroll[1]=window.will_reset_newsroll[2]=false;
  newsroll(0);
    newsroll(1);
    newsroll(2);
});
function newsroll(number) {
  var father = $('#asks_'+number);
    $('div.ask_item',father).hide();
    $('div.ask_item:gt(' + ($('div.ask_item',father).length - 4) + ')',father).show();
    window.setTimeout(function(){

      window.setInterval(function() {
        if(window.will_reset_newsroll[number]){
          $('div.ask_item',father).hide();
          $('div.ask_item:gt(' + ($('div.ask_item',father).length - 4) + ')',father).show();
          window.will_reset_newsroll[number] = false;
        }else{
          $('div.ask_item:visible:first',father).prev().css('opacity', 0).slideDown("fast", function() {
              $(this).animate({opacity:1}, 1000, function() {
                  $(this).css({'opacity':1,'background':'#fff'});
                  if ($('div.ask_item:hidden',father).length == 0) {
                    window.will_reset_newsroll[number]=true;
                  }
              });
          });
        }
      }, 4000);

      
    },number*500);
}
height3 = $('#yuan423_3').height();
height4 = $('#yuan423_4').height();
max = height3 > height4 ? height3 : height4;
$('#yuan423_3').height(max);
$('#yuan423_4').height(max);
<%end %>

