<!DOCTYPE html> 
<html> 
<head> 
  <title><%= Setting.app_name %> - 后台</title> 
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
  <%= stylesheet_link_tag "application","cpanel","wice_grid",'jquery-ui-1.8.16.custom.css','jquery.timepickr.css', :cache => "cached_cpanel" %>
  <%= javascript_include_tag "jquery.min","rails","wice_grid",'jquery-ui-1.8.16.custom.min.js','jquery.timepickr.js', :cache => "cached_cpanel" %>
  <%= csrf_meta_tag %>
</head> 
<body> 
  <div id="header">

      <table style="width:100%"> 
        <tr> 
          <td id="app_name" style="width:20%"> 
            控制台 <a href="<%= root_path %>" class="out">回前台</a> 
          </td>          
          <td id="nav">
            <a href="<%= cpanel_notices_path %>">公告</a> |
            <a href="<%= cpanel_users_path %>">用户</a> |
            <a href="<%= cpanel_topics_path %>">培训机构</a> |
            <a href="<%= cpanel_asks_path %>">课程／分校</a> |
            <a href="<%= cpanel_answers_path %>">点评</a> |
            <a href="<%= cpanel_comments_path %>">评论</a> |
            <a href="<%= cpanel_report_spams_path %>">举报</a> |
            <a href="<%= cpanel_stats_path %>">统计数据</a> |
            <a href="<%= cpanel_autofollow_path %>">自动关注</a>
          </td>
					<td id="user_bar"> 
            <% if current_user %>
            你好 <strong><%= current_user.name %></strong>  <a href="<%= logout_path %>">登出</a> 
						<% end %>
          </td> 
				</tr> 
			</table> 

  </div> 
  <div id="sitemap"> 
    <div class="container">
		 导航: <a href="<%= cpanel_root_path %>">控制台</a> &gt; <%= yield :sitemap %>
   </div>
	</div> 
  <div id="main">
    
    <%=form_tag "/cpanel/#{controller.controller_name}",:method=>:get do%>
    <input type="text" name="q" value="" style="width:600px"><%=submit_tag '后台搜索',width:'100px'%>
    <%end%>
    <div class="container">
      <% if !notice.blank? %>
        <div class="notice_message"><%= notice %></div>
        <% content_for :butt2 do %>
          $(".notice_message").fadeOut().fadeIn();    
        <% end %>
      <% end %>
      <% if !alert.blank? %>
        <div class="alert_message"><%= alert %></div>
        <% content_for :butt2 do %>
          $(".alert_message").fadeOut().fadeIn();    
        <% end %>
      <% end %> 
      <%= yield %>
		</div> 
  </div> 
  <div id="footer" class="container"> 
    <div class="container">
      <%= raw Setting.foot_html %>
    </div>
  </div> 
</body> 
</html> 
